In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,121.289,8.700,25353
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,134.244,8.707,19315
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.715,8.591,11651
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,66.427,8.572,15008
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,36.280,8.546,4320
5,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,44.198,8.545,7955
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,105.009,8.538,15388
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,108.428,8.514,31277
8,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,91.168,8.512,16956
9,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,63.842,8.510,16373
10,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,76.974,8.498,10677
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,96.185,8.488,26479
12,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,84.609,8.477,26016
13,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,92.133,8.476,22876
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,56.793,8.470,8015
15,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,64.443,8.467,12075
16,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,39.052,8.459,3364
17,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,40.571,8.456,12502
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-15,0.600,8.500,5051
19,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,32.674,8.450,4083

In [4]:
df.head()

NameError: name 'df' is not defined

In [17]:
df = pd.DataFrame()

In [18]:
df

Empty DataFrame
Columns: []
Index: []

In [19]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [21]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.433,8.7,2763
1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,8.439,8.7,1223
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,65.570,8.7,18637
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,63.277,8.7,14052
4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,26.691,8.7,773
...,...,...,...,...,...,...,...
8546,13805,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",2008-08-29,14.630,3.2,714
8547,5491,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",2000-05-12,10.647,3.0,543
8548,14164,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,2009-03-12,32.244,2.8,1447
8549,11059,House of the Dead,"Set on an island off the coast, a techno rave ...",2003-04-11,14.502,2.8,238
8550,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,2010-02-27,9.824,2.2,215

In [22]:
df.shape

(8551, 7)

In [23]:
df.to_csv('movies.csv')